.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.modal {
    top: 60px;
    margin: 0 auto;
}
.modal-backdrop {
    position: inherit !important;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(3)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}   
}

.cb {clear: both;}
.btn-view {
    cursor: pointer;
    padding: 5px 6px;
    background: #134577;
    color: #fff;
    border-radius: 2px;
    border-color: 1px solid #10707f;
}
.btn-edit {
    cursor: pointer;
    padding: 5px 6px;
    background: #ffc107;
    color: #fff;
    border-radius: 2px;
    border-color: 1px solid #10707f;
}
.btn-delete {
    cursor: pointer;
    padding: 5px 7px;
    background: #dc3545;
    color: #fff;
    border-radius: 2px;
    border-color: 1px solid #10707f;
}
.btn-key {
    cursor: pointer;
    padding: 5px 7px;
    background: green;
    color: #fff;
    border-radius: 2px;
    border-color: 1px solid #10707f;
}


/* For Active Inactive Button */
.btn-active {
      position: relative;
    display: inline-block;
    width: 53px;
    height: 24px;
}

.btn-active input {display:none;}

.btn-active-onoff {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-active-onoff:before {
  position: absolute;
    content: "";
    height: 16px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .btn-active-onoff {
  background-color: #29b5a8 /*#2196F3*/;
}

input:focus + .btn-active-onoff {
  box-shadow: 0 0 1px #29b5a8 /*#2196F3*/;
}

input:checked + .btn-active-onoff:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.btn-active-onoff.round {
  border-radius: 34px;
}

.btn-active-onoff.round:before {
  border-radius: 50%;
}

/* End Active Inactive Button */

.mb0 {
    margin-bottom: 0px;
}

/***** Table Style *****/
/*.table .table-thead, table .table-tfoot  {
	max-width:98.5%;
	position:relative;
}*/
/*.table .table-tbody {
	display:block; overflow-y:scroll;
}*/
/*.table thead, .table tfoot, .table tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}*/
.table tbody tr td {
	/*white-space: nowrap;*/
	/*table-layout: auto;*/
	/*word-wrap:break-word;*/
}

input[type="file"] {
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	padding: .200rem .50rem;
	line-height: 1.5;
}
